* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(124deg, rgba(41, 170, 196, 1) 18%, rgba(255, 255, 255, 1) 49%, rgba(38, 179, 185, 0.7455357142857143) 97%);
    background-attachment: fixed;
    font-family: 'Apple Chancery', cursive;
}

body,
.main-head,
.main-content,
img {
    border: 0.2rem ridge rgb(23, 93, 108);

}

body {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 3rem;
    padding: 2rem;
}

.main-head {
    text-align: center;
    font-size: 3em;
}

.main-content {
    display: flex;
    width: 100%;
    margin: 1em 0 auto;
    padding: auto;
    list-style: none;
}
.main-content li {
    margin: 2em auto;
    font-size: 2em;
}

img {
    display: block;
    margin: 0 auto;
    width: 20em;
    height: auto;
}